
.head{
  font-size: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
color: gray;
}

.container{

  display: flex;
  align-items: center;
  justify-content:center;
  padding: 5px;
}

.card{
  border: 1px solid #eee;
padding: 10px;
cursor: pointer;
margin:15px;
border-radius: 10px;
box-shadow: 1px 2px 2px gray;
transition: all 0.3s ease-in;
}

.card:hover{
  transform: scale(1.1);
}

.card li{
  display: block;
}

#mail{
  color: blue;
  cursor: pointer;
}

#mail:active{
  transform: scale(0.9);
}

.figma{
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
transition: width 0.5s ease;
}

.figma:hover{
  width: 300px;
}

@media (max-width:990px){
  .container{
    flex-direction: column;
  }
}
